#login-container{
  place-items: center center;
}

#register-container{
  place-items: center center;
}

#nueva-orden-container{
  place-items: center center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.InstaYa-logo{
  width: 200px;
  height: 100px;
}

.InstaYa-logo-izquierdo{
  width: 100px;
  height: 50px;
}

.Usuario-logo-derecho{
  width: 45px;
  height: 45px;
  float: right;
}

#login-form{
  max-width: 330px;
}

#register-form{
  max-width: 700px;
}

.form-control{
  z-index: 5;
}

#registro{
  background-color: green;
}

#tipo-doc{
  width: 260px;
  height: 48px;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
}

#s-nav{
  background-color: rgb(255, 255, 255);
  
}

.span-nav{
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: bold;
  color: rgb(0, 111, 207);
  padding: 1rem;
  text-decoration: none;
}

#menu-desplegable{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 111, 207);
  float: right;
  padding: 0.4rem;
  border-color: rgb(255, 255, 255);
}
